version: '3'
services:
  app:
    build: ./app
    container_name: flask_app

  nginx:
    image: nginx
    container_name: nginx_proxy
    ports:
      - "8081:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
